<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>controller.login.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.login.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPasswordServlet</servlet-name>
        <servlet-class>controller.login.NewPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtpServlet</servlet-name>
        <servlet-class>controller.login.ValidateOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>controller.login.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFacebookServlet</servlet-name>
        <servlet-class>controller.login.LoginFacebookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>controller.user.UserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.login.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.user.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterGoogleServlet</servlet-name>
        <servlet-class>controller.login.RegisterGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostServlet</servlet-name>
        <servlet-class>controller.user.post.AddPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPostServlet</servlet-name>
        <servlet-class>controller.user.post.EditPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostServet</servlet-name>
        <servlet-class>controller.user.post.DeletePostServet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetailServlet</servlet-name>
        <servlet-class>controller.user.post.PostDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostListPagingServlet</servlet-name>
        <servlet-class>controller.user.post.PostListPagingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPostByAjax</servlet-name>
        <servlet-class>controller.user.post.SearchPostByAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMorePostServlet</servlet-name>
        <servlet-class>controller.user.post.LoadMorePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMangaServlet</servlet-name>
        <servlet-class>controller.user.manga.AddMangaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MangaDetailServlet</servlet-name>
        <servlet-class>controller.user.manga.MangaDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMangaServlet</servlet-name>
        <servlet-class>controller.user.manga.EditMangaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMangaServlet</servlet-name>
        <servlet-class>controller.user.manga.DeleteMangaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewChapterListServlet</servlet-name>
        <servlet-class>controller.user.chapter.ViewChapterListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxPaymentServlet</servlet-name>
        <servlet-class>controller.payment.AjaxPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpgradeToAuthorServlet</servlet-name>
        <servlet-class>controller.user.UpgradeToAuthorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddChapterServlet</servlet-name>
        <servlet-class>controller.user.chapter.AddChapterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteChapterServlet</servlet-name>
        <servlet-class>controller.user.chapter.DeleteChapterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewChapterDetail</servlet-name>
        <servlet-class>controller.user.chapter.ViewChapterDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>controller.admin.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMangaSevlet</servlet-name>
        <servlet-class>controller.user.manga.SearchMangaSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditChapterServlet</servlet-name>
        <servlet-class>controller.user.chapter.EditChapterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptReport</servlet-name>
        <servlet-class>controller.report.AcceptReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageReport</servlet-name>
        <servlet-class>controller.report.ManageReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectReport</servlet-name>
        <servlet-class>controller.report.RejectReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
        <servlet>
            <servlet-name>RegistrationServlet</servlet-name>
            <servlet-class>controller.login.RegistrationServlet</servlet-class>
        </servlet>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPasswordServlet</servlet-name>
        <url-pattern>/NewPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtpServlet</servlet-name>
        <url-pattern>/ValidateOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/LoginGoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFacebookServlet</servlet-name>
        <url-pattern>/LoginFacebookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/UserProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterGoogleServlet</servlet-name>
        <url-pattern>/RegisterGoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostServlet</servlet-name>
        <url-pattern>/AddPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPostServlet</servlet-name>
        <url-pattern>/EditPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostServet</servlet-name>
        <url-pattern>/DeletePostServet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetailServlet</servlet-name>
        <url-pattern>/PostDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostListPagingServlet</servlet-name>
        <url-pattern>/PostListPagingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPostByAjax</servlet-name>
        <url-pattern>/SearchPostByAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMorePostServlet</servlet-name>
        <url-pattern>/LoadMorePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMangaServlet</servlet-name>
        <url-pattern>/AddMangaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MangaDetailServlet</servlet-name>
        <url-pattern>/MangaDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMangaServlet</servlet-name>
        <url-pattern>/EditMangaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMangaServlet</servlet-name>
        <url-pattern>/DeleteMangaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewChapterListServlet</servlet-name>
        <url-pattern>/ViewChapterListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxPaymentServlet</servlet-name>
        <url-pattern>/AjaxPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpgradeToAuthorServlet</servlet-name>
        <url-pattern>/UpgradeToAuthorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddChapterServlet</servlet-name>
        <url-pattern>/AddChapterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteChapterServlet</servlet-name>
        <url-pattern>/DeleteChapterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewChapterDetail</servlet-name>
        <url-pattern>/ViewChapterDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMangaSevlet</servlet-name>
        <url-pattern>/SearchMangaSevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditChapterServlet</servlet-name>
        <url-pattern>/EditChapterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptReport</servlet-name>
        <url-pattern>/AcceptReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageReport</servlet-name>
        <url-pattern>/ManageReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectReport</servlet-name>
        <url-pattern>/RejectReport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        <servlet-mapping>
            <servlet-name>RegistrationServlet</servlet-name>
            <url-pattern>/RegistrationServlet</url-pattern>
        </servlet-mapping>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
