<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>controller.login.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.login.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPasswordServlet</servlet-name>
        <servlet-class>controller.login.NewPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtpServlet</servlet-name>
        <servlet-class>controller.login.ValidateOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>controller.login.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFacebookServlet</servlet-name>
        <servlet-class>controller.login.LoginFacebookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
        <servlet>
            <servlet-name>RegistrationServlet</servlet-name>
            <servlet-class>controller.login.RegistrationServlet</servlet-class>
        </servlet>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPasswordServlet</servlet-name>
        <url-pattern>/NewPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtpServlet</servlet-name>
        <url-pattern>/ValidateOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/LoginGoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFacebookServlet</servlet-name>
        <url-pattern>/LoginFacebookServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        <servlet-mapping>
            <servlet-name>RegistrationServlet</servlet-name>
            <url-pattern>/RegistrationServlet</url-pattern>
        </servlet-mapping>
    </session-config>
</web-app>
